/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}
/* Estilos de la barra de navegación */
.navbar {
    background-color: #242323;
}
.navbar-brand img {
    max-width: 200px;
}
.navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#navbarNav{
    justify-content: right;
}

/* Estilos de la sección Filter */
.form-check {
    margin: 10px 0;
}
.search-bar {
    padding: 20px;
    margin-top: 20px;
}
.input-group{
    display: flex;
    align-items: baseline;
}
#search-input, #search-button{
    height: 40px;
}


/* Estilos del carrusel */
.carousel-title {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-bottom: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 350px;
}

/* Estilos de los servicios */
.card {
    margin-bottom: 20px;
}
.card-img-top{
    width: auto;
    height: 300px;
}
.card-title {
    font-weight: bold;
}
.card-body button{
    margin-left: 130px;
}

/* Estilos del Footer */
.social_icons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.social_icons img {
    max-width: 30px;
    margin: 0 10px;
}

/* Estilos adicionales */
.bg-body-tertiary {
    background-color: #242424;
}

.bg-dark {
    background-color: #242424;
}

.text-white {
    color: rgb(0, 0, 0);
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* Estilos para los checkboxes */
.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.form-check-input:checked + .form-check-label {
    color: #007bff;
}



/* Estilos para el botón de búsqueda */
#search-button {
    background-color: #007bff;
    border-color: #007bff;
}

#search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



/* Estilo para el formulario */
.form-page{
    padding: 40px;
    margin-bottom: 70px;
}

.form {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente en la página */
    padding: 10px; /* Espaciado interior para el formulario */
    border: 1px solid #ccc; /* Borde para el formulario */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para el formulario */
}

/* Estilo para las etiquetas del formulario */
.form-label {
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de entrada del formulario */
.form-control {
    width: 100%; /* Ancho completo */
    margin-bottom: 10px; /* Espaciado inferior entre campos de entrada */
}

.message-form input[type="text"] {
    max-height: 500px; /* Altura aumentada de la caja de texto del mensaje */
}



/* Estilo para la tabla de stats*/
.table-stats{
    padding: 40px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}
/* Estilo para las celdas con colspan */
tr:nth-child(odd) td[colspan] {
    background-color: #aaa8a8;
    border: 1px solid black;
    font-weight: bold;
}

/* Estilo para pagina de detalles*/
.details{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    border: solid 1px rgb(73, 73, 73);
    background-color: gray;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.imagen-servicio{
    padding: 10px;
    width: 60%;
    height: auto;
}
.agenda-servicio{
    background-color: white;
    width: 40%;
    height: 300px;
    text-align: center;
}